<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BackGroundColor.R" value="64"/>
		<add key="BackGroundColor.G" value="128"/>
		<add key="BackGroundColor.B" value="128"/>
		<add key="Window.Height" value="475"/>
		<add key="Window.Width" value="500"/>
		<add key="Window.State" value="Normal"/>
		<add key="X" value="0"/>
		<add key="Y" value="0"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>